[user]
	name = Kees-Jan Dijkzeul
	email = kees-jan.dijkzeul@iae.nl
[push]
	default = current
[merge]
	tool = kdiff3
[alias] 
        # lg =  log --pretty=format:'%C(yellow)%h%Cgreen%d %Creset%s%Cblue' --all --graph 
        lg =  log --pretty=format:'%C(yellow)%h %Creset%s%Cgreen%d' --all --graph -n 50 
